
body {
    margin: 0 auto;
    max-width: 1191px;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.1em;
    overflow-x: hidden;
    width: 100%;

    a {
        text-decoration: none;

        &:link {
            color: $secondary-color;
        }

        &:visited {
            color: $secondary-color;
        }

    }

    // span {
    //     width: auto;
    // }


    a::after {
        content: '';
        display: block;
        width: 0px;
        margin: 5px auto 0 auto;
        height: 2px;
        border-radius: 2px;
        background: $secondary-color;
        transition: all 0.2s ease-out;
    }

    a:hover::after {
        width: 100%;
    }

    .header {
        display: flex;

        @media screen and (max-width: 1210px) {


            flex-direction: column;

        }

        .header-left {
            
            @extend %sections-gauche;


            &__photo {
                @extend %photo-cv;

                &--image-arrondie {
                    width: 180px;
                    border-radius: 50%;
                    border: 4px rgba(5, 5, 5, 0.1) solid;
                }

            }


        }

        .header-right {
            @extend %sections-droite;

            &__titre-principal {
                margin-top: 100px;
                font-size: 3em;

                @media screen and (max-width: 1210px) {


                    text-align: center;


                }

                &--prenom {
                    color: $main-color;

                }

                &--sous-titre {
                    font-style: normal;
                    line-height: 50px;
                    font-size: 0.7em;


                    &::before {
                        content: 'dével';
                        border-bottom: 2px $main-color solid;


                    }
                }
            }
        }

    }

    .main-wrapper {
        display: flex;

        @media screen and (max-width: 1210px) {

            display: flex;
            width: 100%;
            flex-direction: column-reverse;
            justify-content: center;
        }



        .formation {
            @extend %sections-droite;



            &__titre {
                border-bottom: 2px $main-color solid;
                margin-right: 48px;
                font-size: 2em;

                @media screen and (max-width: 1210px) {


                    padding-left: 30px;


                }

            }

            i {
                color: $main-color;
                margin: 0 35px 20px 0;
            }

            .formation-container {
                display: flex;
                color: $secondary-color;
                padding-left: 35px;

                @media screen and (max-width: 1210px) {

                    margin-bottom: 50px;
                    padding-left: 50px;


                }

                @media screen and (max-width: 800px) {

                    flex-direction: column;

                    margin-bottom: 50px;
                    padding-left: 50px;


                }



                .formation-container-gauche {
                    position: relative;
                    margin-left: 0px;
                    width: 200px;


                    &__date {

                        &::before {
                            content: " ";
                            border-radius: 50%;
                            border: 5px $main-color solid;
                            position: absolute;
                            left: -30px;

                        }

                        &--actual {
                            &::before {
                                content: "\f192";
                                font-family: "Font Awesome 5 Free";
                                color: $main-color;
                                position: absolute;
                                left: -30px;
                            }
                        }



                    }
                }

                .formation-container-droite {
                    margin: 10px;
                    width: 100%;

                    &__info {
                        margin-right: 55px;
                    }
                    @media screen and (max-width: 600px) {

                        margin-left: 0;
                        margin-right: 0;
        
                    }
                }
            }

        }

        .experiences-professionelles {
            @extend %sections-droite;
            margin-top: 100px;




            &__titre {
            
                border-bottom: 2px $main-color solid;
                margin-right: 48px;
                font-size: 2em;

                @media screen and (max-width: 1210px) {


                    padding-left: 30px;
                    padding-bottom: 15px;
                    
            }

            }

            i {
                color: $main-color;
                margin: 0 35px 20px 0;
            }

            .experiences-professionelles-container {
                display: flex;
                color: $secondary-color;
                padding-left: 35px;

                @media screen and (max-width: 1210px) {

                    margin-bottom: 50px;
                    padding-left: 50px;

                }

                @media screen and (max-width: 800px) {

                    flex-direction: column;

                    margin-bottom: 50px;
                    padding-left: 40px;


                }

                .experiences-professionelles-container-gauche {
                    position: relative;
                    margin-left: 0px;
                    width: 200px;

                    &__date {
                        &::before {
                            content: " ";
                            border-radius: 50%;
                            border: 5px $main-color solid;
                            position: absolute;
                            left: -30px;

                        }

                        &--actual {
                            &::before {
                                content: "\f192";
                                font-family: "Font Awesome 5 Free";
                                color: $main-color;
                                position: absolute;
                                left: -30px;
                            }
                        }



                    }
                }

                .experiences-professionelles-container-droite {
                    margin: 10px;
                    margin-left: 25px;
                    width: 100%;

                    &__info {
                        margin-right: 55px;
                    }
                    @media screen and (max-width: 600px) {

                        margin-left: 0;
                        margin-right: 0;
        
                    }
                }
            }
        }

        .recommendations {
            @extend %sections-droite;
            margin-top: 100px;

            @media screen and (max-width: 1210px) {

                max-width: 100%;


            }



            &__titre {
                border-bottom: 2px $main-color solid;
                margin-right: 48px;
                font-size: 2em;

                @media screen and (max-width: 1210px) {


                    padding-left: 30px;
                    padding-bottom: 15px;
                    
            }
            }

            i {
                color: $main-color;
                margin: 0 35px 20px 0;
            }

            .recommendations-grid {
                display: grid;
                grid-template-columns: 1fr 1fr;
                color: $secondary-color;
                @media screen and (max-width: 800px) {

                    grid-template-columns: 1fr;
                    justify-items: center;



                }

                p {
                    line-height: 1.5em;
                    margin: 0 0 77px;

                }

                .recommendations-grid-gauche {
                    padding-left: 10px;
                }

                .recommendations-grid-droite {
                    grid-column-start: 2;

                    @media screen and (max-width: 800px) {

                        grid-column-start: 1;
                        



                    }
                }

            }
        }

        .cv-aside {
            display: flex;
            flex-direction: column;
            @extend %sections-gauche;
            @extend %titre-article-aside;
            color: $secondary-color;


            .cv-aside-contact {



                &__list {
                    padding: 0;
                    margin: 35px 0 50px 48px;
                    list-style-type: none;
                    display: inline-flex;
                    flex-direction: column;

                }

                &__item {
                    padding-bottom: 20px;
                    width: fit-content;

                }

            }

            .cv-aside-a-propos {
                flex: 1;

                &__paragraphe {
                    text-align: left;
                    margin: 25px 0px 10px 48px;
                    line-height: 25px;
                }

                &__list {
                    padding: 0;
                    margin: 35px 0 50px 48px;
                    list-style-type: none;

                }
                &__item {
                    padding-bottom: 20px;
                    font-size: larger;
                    
                    
                    a {
                        cursor: pointer;
                    }
                }
            }

            .cv-aside-loisirs {
                &__list {
                    margin: 0;
                    padding: 35px 0 40px 0;
                    list-style-type: none;
                    display: flex;
                    justify-content: space-around;
                    font-size: 3em;
                    font-weight: lighter;

                }

                .tooltip {
                    position: relative;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin-right: 40px;
                    cursor: pointer;
                }
                
                /* Style text tooltip */
                .tooltipText {
                    background-color: #fff;
                    position: absolute;
                    bottom: 130%;
                    padding: 10px 15px;
                    border-radius: 5px;
                    font-size: 14px;
                    opacity: 0;
                    transition: all .5s;
                    color: $secondary-color;
                }
                
                
                
                /*  Membuat dan style tip*/
                .tooltipText::after {
                    content: '';
                    border-width: 5px;
                    border-style: solid;
                    border-color: #fff transparent transparent transparent;
                    position: absolute;
                    top: 100%;
                    left: 40%;
                    margin-left: 5%;
                }
                
                /* Style Icon */
                i {
                    padding: 10px 15px;
                    border-radius: 10px;
                    color: $secondary-color;
                    font-size: 20px;
                }

                
                    .container {
                        display: flex;
                        justify-content: space-around;
                        width: 100%;
                        margin: 10px 0;
                        flex-wrap: wrap;
                    }
                                    
                
                /* Hover text tooltip */
                .tooltip:hover .tooltipText{
                    opacity: 1;
                    transform: translateY(-10px);
                }
                
                /* Hover Background icon */
                .loisir:hover i {
                    background-color: $secondary-color;
                    color: white;
                }

                
            }
        }
    }



}