%sections-droite {
    width: 746px;
    margin-left: 62px;
    @media screen and (max-width: 1210px) {
    
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        margin-left: 0;
        
    }
}