%sections-gauche {
    width: 383px;
    background-color: $main-color;
    @media screen and (max-width: 1190px) {
    
        display: flex;
        width: auto;
        justify-content: center;
    }
}