%titre-article-aside {
h2 {
    text-align: center;
    background-color: $secondary-color;
    color: $main-color;
    font-size: 1em;
    margin: 0;
    font-size: 1.5EM;
    line-height: 50px;
    

}
}